.page-footer{
    color: #ffffff;
}
.text-uppercase{
    font-weight: bolder;
    border-bottom:3px solid transparent;
    position: relative;
    padding-bottom: 5px;
}
.text-uppercase::before{
    padding:0;
    margin:0;
    content: "";
    width:50%;
    height:3.1px;/* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
    background-color:white;
    position: absolute;
    left:0;
    bottom:-1px;
}
.col-md-3{
    text-align: justify;
}
.product-footer a{
    color: #ffffff !important;
    text-decoration: none;
    font-weight: bold !important;
}
.product-footer a:hover{
    border-bottom: 3px solid silver;
}

.useful-link-footer a{
    color: #ffffff !important;
    text-decoration: none;
    font-weight: bold !important;
}
.useful-link-footer a:hover{
    border-bottom: 3px solid silver;
}
.final-footer a{
    color: white;
    text-decoration: none;
}
.final-footer a:hover{
    border-bottom: 3px solid silver;
}

.list-inline-item a{
    border: 2px solid white;
    border-radius: 30%;
    font-size: 24px;
}
.list-inline-item:hover{
    transform: translateY(-10px) !important;
    transition: .5s;
}

.list-inline-item a:hover{
    border: 2px solid white !important;
    cursor: pointer;
}
.footer-facebook a{
    background-color: #3b5998;
}
.footer-twitter a{
    background-color: #00acee;
}
.footer-google-plus a{
    background-color: #db4a39;
}
.footer-linkedin a{
    background-color: #0072b1;
}